button {
  display: flex;
  width: 140px;
  height: 40px;
  font-size: 14px;
  background-color: #27ae60;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}
