.filterResult {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding: 10px;
  align-items: center;
}

.filterResult .showResultText .t1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
.filterResult .showResultText .t2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}

.filterResult button {
  width: 30px;
  height: 30px;
  font-weight: 900;
}
