.popup {
  background-color: rgb(236, 236, 236);
  width: 200px;
  height: 100px;

  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 50px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

  border-radius: 10px;

  -webkit-box-shadow: 2px 5px 10px 2px rgba(201, 201, 201, 0.78);
  box-shadow: 2px 5px 10px 2px rgba(201, 201, 201, 0.78);
}

.popup span {
  font-size: 14px;
  margin-bottom: 10px;
}
.popup button {
  width: 50px;
  height: 30px;
}
